@model PersonalFinanceManager.Data.Models.Book

@{
    ViewBag.Title = "Create/Edit Book";
}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    @using (Ajax.BeginForm("Create", "Books", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "update-target",
        OnSuccess = "ClearBookForm()"
    }))
    {
        <form id="CreateBookForm" class="form-control form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => Model.Name, new { id = "book-name", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(m => Model.Currency, new { id = "book-currency", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(m => Model.Id)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default">Create / Edit</button>
        </form>
    }
</div>