@model PersonalFinanceManager.Models.ApplicationUser
@{
    ViewBag.Title = "Lock Status";
}

<h2>LockStatus</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>User</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => Model.Email)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => Model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => Model.LockoutEnabled)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.LockoutEnabled)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
</div>