@using Microsoft.AspNet.Identity
@model PersonalFinanceManager.ViewModels.MoneyStreams.MoneyStreamsFormVM

@{
    ViewBag.Title = "Create Money Stream";
}

@using (Ajax.BeginForm("Create", "MoneyStreams", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "moneyStreams-list",
    OnSuccess = "ClearMoneyStreamForm()"
}))
{
    <form id="CreateBookForm">
        <div class="row">
            <div class="form-group col-sm-12 col-md-4 col-lg-2 col-xl-2">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { id = "moneyStream-name", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2 col-xl-2">
                @Html.LabelFor(model => model.Amount)
                @Html.TextBoxFor(model => model.Amount, new { id = "moneyStream-amount", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2 col-xl-2">
                @Html.LabelFor(model => model.Categories)
                @Html.DropDownListFor(model => model.CategoryId,
               Model.Categories.Select(c => new SelectListItem
               {
                   Text = c.Name,
                   Value = c.Id.ToString()
               }), new { id = "moneyStream-category", @class = "form-control input-sm" })
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2 col-xl-2">
                @Html.LabelFor(model => model.Date)
                @Html.TextBoxFor(model => model.Date, new { id = "moneyStream-date", type = "date", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", })
            </div>
            <div class="form-group col-sm-12 col-md-1 col-lg-1 col-xl-2">
                @Html.LabelFor(model => model.IsIncome)
                @Html.CheckBoxFor(model => model.IsIncome, new { id = "moneyStream-isIncome", @class = "checkbox text-center" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 align-bottom">
                @Html.HiddenFor(model => Model.BookId, new { id = "moneyStream-book-id" })
                @Html.AntiForgeryToken()
                <button id="submitButton" type="submit" class="btn btn-default btn-md">Create</button>
            </div>
        </div>
    </form>
}